@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500&display=swap');


html {
    background: url(background/bg_1_main.jpg) no-repeat center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
}

#films {
    width: 20%;
    height: 22px;
    background-color: rgba(212, 210, 206, 0.607);
    padding: 0 0 0 8px;

}

.show-buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 50%;
}

.show-button {
    width: 40%;
    margin: 20px 0 20px 0;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 18px;
    color: rgba(111, 11, 11, 0.945);
    padding: 10px 5px;
    background-color: rgba(212, 210, 206, 0.607);
    border: none;
    border-radius: 6px;
    transform: scale(1);
    animation: pulse-black 2.0s infinite;
    animation-timing-function: ease-in-out;
}

.show-button:hover {
    animation: none;
    color: rgba(239, 188, 48, 0.91);
}

@keyframes pulse-black {
    0% {
      transform: scale(1);
      box-shadow: 0 0 8px 5px rgba(239, 188, 48, .8);
    }
    
    50% {
      transform: scale(1);
      box-shadow: 0 0 10px 10px rgba(239, 188, 48, .8);;
    }
    
    100% {
      transform: scale(1);
      box-shadow: 0 0 8px 5px rgba(239, 188, 48, .8);
    }
  }

.characters {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items:flex-start;
}

.character-item {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    width: 110px;
    height: 140px;
    padding: 5px;
    margin: 1% 1% 1% 1%;
    font-weight: 300;
    background-color: rgba(147, 146, 146, 0.448);
    border-radius: 20%;
    color: rgb(239, 188, 48);
}

.character-item img {
    max-width: 60px;
}
.character-item-fullname {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: rgb(207, 184, 35);
    text-align: center;
}

.character-item-birthday, .character-item-gender {
    font-size: 12px;
}

.allplanets {
    width: 40%;
    background-color: rgba(147, 146, 146, 0.448);
    display: none;
    flex-flow: row wrap;
}

.allplanets h1, .allplanets #planetList {
    width: 100%;
    text-align: center;
}
.allplanets h1 {
    line-height: 25px;
}

#planetList {
    display: flex;
    flex-flow: column wrap;
    max-height: 275px;
    text-transform: uppercase;
    line-height: 16px;
}

.control-buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    height: 25px;
}

.control-buttons button {
    line-height: 10px;
    font-size: 20px;
    font-weight: bold;
    width: 20%;
    margin-right: 5%;
    background-color: rgba(212, 210, 206, 0.607);
}

.control-buttons button:last-of-type {
    margin-right: 0;
}


@media (max-width: 850px) {
    #films {
        width: 25%;
    }

    .show-buttons {
        width: 60%;
    }

}

@media (max-width: 650px) {
    #films {
        width: 40%;
    }

    .show-buttons {
        width: 85%;
    }

    .character-item {
        width: 30%;
        height: 100%;
        margin: 5% 2% 5% 2%;
    }
}

@media (max-width: 450px) {
    #films {
        width: 55%;
    }

    .show-buttons {
        flex-flow: column wrap;
    }

    .show-button {
        width: 100%;
    }

    .characters {
        flex-flow: column wrap;
        width: 100%;
        align-items: center;
    }

    .character-item {
        width: 90%;
        height: 100%;
        margin: 5% 0% 5% 0%;
    }

    .character-item img {
        max-width: 100px;
    }

    .allplanets {
        width: 85%;
        background-color: rgba(147, 146, 146, 0.448);
        display: none;
        flex-flow: row wrap;
    }
}
